.Info-containers{
    position: fixed;
    display:flex;
    justify-content: center;
    background-color: #ffff;
    align-items: center;
    border: 1px solid rgb(85, 82, 82);
    border-radius: 20px;
    width: 20%;
    height: 100%;
    right: 100px;
    top: 200Px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}
.Info-containers.close{
    right: -100%;
    transition: 1000ms;
}

.Top-img{
    position:absolute;
    filter:grayscale(100%);
    filter: brightness(0.9);
    opacity: 1.0;
    scale: 1.0;
    top:-150px;
    z-index: 2;
}