.App{
    background-color: rgba(0, 0, 0, 0.863);
    height: 100vh;
    padding-top: 100px;
}

/*.Container{
    display: flex;
    justify-content: space-around;
    height: 90vh;
}*/

.stat-display{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.NamePlate1{
    position: relative;
    background-color: rgba(0, 0, 0, 0.384);
    color: aliceblue;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #000000e7;
    transition: 1000ms;
}

.firstImage{
    position: absolute;
    top: -90px;
    left: -5px;
    scale: 0.55;
}

.StartType{
    position: absolute;
    color:white;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.StartName{
    background-color: gray;
    position: absolute;
    color:white;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.NamePlate{
    position: relative;
    background-color: rgba(0, 0, 0, 0.384);
    color: aliceblue;
    width: 500px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #000000e7; ;
}

.Nameh1{
    position: absolute;
    text-transform: uppercase;
    top:300px;
    left:170px;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}

.psychicStartType{
    color: rgba(146, 81, 148, 0.644);
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.groundStartType{
    color: rgba(148, 81, 81, 0.644);
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.ghostStartType{ 
    color:rgb(247, 247, 247);
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.electricStartType{
    color:rgb(255, 255, 161);
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.bugStartType{
    color:#F6D6A7;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.poisonStartType {  
    color:#e0a7f6;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.normalStartType { 
    color:#9b9191;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.fairyStartType {
    color:rgba(255, 192, 203, 0.863);
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.fireStartType {
    color:#FBE3DF;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.grassStartType {
    color: #E2F9E1;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.waterStartType {
    color: #E0F1FD;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.flyingStartType{
    color:#5e66d1d8;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px;
}

.fightingStartType{
    color: #d1925ed8;
    position: absolute;
    font-size: 20px;
    top: 400px;
    left: 50px; 
}

.psychicStartName{
    background-color: rgba(146, 81, 148, 0.644);
    color: rgba(0, 0, 0, 0.644);
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.groundStartName{
    background-color: rgba(148, 81, 81, 0.644);
    color: rgba(0, 0, 0, 0.644);
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.ghostStartName{
    background-color: rgb(247, 247, 247); 
    color:rgb(0, 0, 0);
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.electricStartName{
    background-color: rgb(255, 255, 161);
    color:rgb(0, 0, 0);
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.bugStartName{
    background-color: #F6D6A7;
    color:#000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.poisonStartName{
    background-color: #e0a7f6;  
    color:#000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.normalStartName{
     background-color: #9b9191; 
     color:#000000;
     position: absolute;
     border-radius: 2px;
     width: 150px;
     height: 40px;
     text-align: center;
     padding-top:3px; 
     font-size: 20px;
     top: 500px;
     left: 50px;
}

.fairyStartName{
    background-color: rgba(255, 192, 203, 0.863);
    color:rgb(0, 0, 0);
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.fireStartName {
    background-color: #FBE3DF;
    color:#000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.grassStartName {
    background-color:#E2F9E1;
    color: #000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.waterStartName{
    background-color:#E0F1FD;
    color: #000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.flyingStartName{
    background-color:#5e66d1d8;
    color:#000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.fightingStartName{
    background-color:#d1925ed8;
    color: #000000;
    position: absolute;
    border-radius: 2px;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top:3px; 
    font-size: 20px;
    top: 500px;
    left: 50px;
}

.Search-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.Search-box{
    position: absolute;
    top: 400px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 110px;
}

.Input-container{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.11);
    color: white;
    padding: 10px;
    width: 400px;
    height: 60px;
    text-align: center;
}

.Button-container{  
    margin-top: 20px;
    box-shadow:inset 0px 1px 0px 0px #927875;
	background:linear-gradient(to bottom, #a5927e 5%, #634b30 100%);
	background-color:#aa9987;
	border-radius:3px;
	border:1px solid #928272;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534; 
    width: 200px; 
}

.Button-container:hover{
    background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}

.Button-container:active{
    position:relative;
	top:1px;
}

.Power-stat{
    box-sizing: border-box;
    background-color: black;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    margin-left: -200px;
    gap: 20px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #000000e7; ;
}

.pokemonlogo{
    margin-top: 50px;
    margin-left:  auto;
    margin-right: auto;
    width: 300px;
}
.pokemonlogo:hover{
    scale: 1.1;
    transition: 1500ms;
}

h2 {
    margin:0;
}

.Hp-container{
    display: flex;
    height: 30px;
    margin-left:30px;
}

.Hp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    font-weight: 700;
}

.HpBar{
    background: linear-gradient(to right, rgb(2, 253, 127), rgb(14, 126, 14) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.Attack-container{
    display: flex;
    margin: 0;
    margin-left:30px;
}

.Attack{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    font-weight: 700;
}

.AttackBar{
    background: linear-gradient(to right, rgb(253, 186, 2), rgb(204, 67, 26) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.Defense-container{
    display: flex;
    margin-left:30px;
}

.Defense{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    font-weight: 700;
}

.DefenseBar{
    background: linear-gradient(to right, rgb(2, 253, 211), rgb(26, 103, 204) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.Special-ATK-container{
    display: flex;
    margin-left:30px;
}

.Special-ATK{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    font-weight: 700;
}

.Special-ATKBar{
    background: linear-gradient(to right, rgb(2, 119, 253), rgb(94, 26, 204) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.Special-DEF-container{
    display: flex;
    margin-left:30px;
}

.Special-DEF{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    font-weight: 700;
}

.Special-DEFBar{
    background: linear-gradient(to right, rgb(253, 173, 2), rgba(204, 162, 26, 0.596) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.Speed-container{
    display: flex;
    margin-left:30px;
}

.Speed{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 30px;
    width: 110px;
    font-weight: 700;
}

.SpeedBar{
    background: linear-gradient(to right, rgb(253, 2, 157), rgba(148, 26, 204, 0.596) );
    border-radius:0 2px 2px 0;
    height: 30px;
    width: 20px;
    color: black;
    font-weight: 700;
    padding-left: 15px;
    padding-top: 3px;
}

.psychic{
    background-color: rgba(146, 81, 148, 0.644);
    color: rgba(146, 81, 148, 0.644);
}

.ground {
    background-color: rgba(148, 81, 81, 0.644);
    color: rgba(148, 81, 81, 0.644); ;
}

.ghost {
    background-color: rgb(247, 247, 247); 
    color:rgb(247, 247, 247);  
}

.electric {
    background-color: rgb(255, 255, 161);
    color:rgb(255, 255, 161); ;
}

.bug {
    background-color: #F6D6A7;
    color:#F6D6A7; ;
}

.poison {
    background-color: #e0a7f6;  
    color:#e0a7f6;  ;
}

.normal {
     background-color: #9b9191; 
     color:#9b9191; ;
}

.fairy {
    background-color: rgba(255, 192, 203, 0.863);
    color:rgba(255, 192, 203, 0.863); 
}

.fire {
    background-color: #FBE3DF;
    color:#FBE3DF; ;  
}

.grass {
    background-color:#E2F9E1;
    color: #E2F9E1;
}

.water {
    background-color:#E0F1FD;
    color: #E0F1FD;
}

.flying{
    background-color:#5e66d1d8;
    color:#5e66d1d8; ;
}

.fighting{
    background-color:#d1925ed8;
    color: #d1925ed8;  
}

.psychicimg{
    position:absolute;
    background-color: rgba(146, 81, 148, 0.644);
    color: rgba(146, 81, 148, 0.644);
    border: solid rgba(146, 81, 148, 0.644);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;
}

.groundimg {
    background-color: rgba(148, 81, 81, 0.644);
    color: rgba(148, 81, 81, 0.644);
    position:absolute;
    border: solid rgba(148, 81, 81, 0.644);;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;
}

.ghostimg {
    background-color: rgb(247, 247, 247); 
    color:rgb(247, 247, 247);
    position:absolute;
    border: solid rgb(247, 247, 247);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}

.electricimg {
    background-color: rgb(255, 255, 161);
    color:rgb(255, 255, 161);
    position:absolute;
    border: solid rgb(255, 255, 161);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}

.bugimg {
    background-color: #F6D6A7;
    color:#F6D6A7;
    position:absolute;
    border: solid #F6D6A7;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}

.poisonimg {
    background-color: #e0a7f6;  
    color:#e0a7f6;
    position:absolute;
    border: solid #e0a7f6;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}

.normalimg {
    background-color: #9b9191; 
    color:#9b9191;
    position:absolute;
    border: solid #9b9191;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}

.fairyimg {
    background-color: rgba(255, 192, 203, 0.863);
    color:rgba(255, 192, 203, 0.863);
    position:absolute;
    border: solid rgba(255, 192, 203, 0.863);;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;   
}

.fireimg {
    background-color: #FBE3DF;
    color:#FBE3DF;
    position:absolute;
    border: solid #FBE3DF;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;   
}

.grassimg {
    background-color:#E2F9E1;
    color: #E2F9E1;
    position:absolute;
    border: solid  #E2F9E1;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;
}

.waterimg {
    background-color:#E0F1FD;
    color: #E0F1FD;
    position:absolute;
    border: solid  #E0F1FD;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;
}

.flyingimg{
    background-color:#5e66d1d8;
    color:#5e66d1d8;
    position:absolute;
    border: solid  #5e66d1d8;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;
}

.fightingimg{
    background-color:#d1925ed8;  
    color: #d1925ed8;
    position:absolute;
    border: solid  #d1925ed8;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    scale: 2;
    left: 200px;
    top: 120px;  
}